{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.api2cart.com/v1.1"
        }
    ],
    "info": {
        "contact": {
            "email": "contact@api2cart.com",
            "x-twitter": "API2Cart"
        },
        "description": "API2Cart",
        "termsOfService": "https://api2cart.com/terms-service",
        "title": "Swagger API2Cart",
        "version": "1.0.0",
        "x-apisguru-categories": [
            "ecommerce"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_API2Cart_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://app.api2cart.com/default/index/swagger-json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "api2cart.com"
    },
    "externalDocs": {
        "description": "Find out more about API2Cart",
        "url": "http://docs.api2cart.com"
    },
    "tags": [
        {
            "name": "account"
        },
        {
            "name": "cart"
        },
        {
            "name": "product"
        },
        {
            "name": "category"
        },
        {
            "name": "order"
        },
        {
            "name": "customer"
        },
        {
            "name": "attribute"
        },
        {
            "name": "tax"
        },
        {
            "name": "webhook"
        }
    ],
    "paths": {
        "/account.cart.list.json": {
            "get": {
                "description": "Get list of carts.",
                "operationId": "AccountCartList",
                "parameters": [
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to retrieve",
                        "in": "query",
                        "name": "params",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id,url,store_key,cart_id,requests_count"
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
                        "in": "query",
                        "name": "exclude",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Retrieve entities from their creation date",
                        "in": "query",
                        "name": "request_from_date",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Retrieve entities to their creation date",
                        "in": "query",
                        "name": "request_to_date",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "carts": {
                                                    "items": {
                                                        "properties": {
                                                            "cart_id": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "store_key": {
                                                                "type": "string"
                                                            },
                                                            "total_calls": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "carts_count": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "tags": [
                    "account"
                ]
            }
        },
        "/account.config.update.json": {
            "put": {
                "description": "Update configs in the API2Cart database.",
                "operationId": "AccountConfigUpdate",
                "parameters": [
                    {
                        "description": "This parameter is deprecated for this method. Please, use this parameter in method account.config.update",
                        "in": "query",
                        "name": "db_tables_prefix",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client ID of the requesting app.",
                        "in": "query",
                        "name": "client_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "This parameter allows to set up store with custom bridge url (you must use store_root parameter if a bridge folder is not in the root folder of the store)",
                        "in": "query",
                        "name": "bridge_url",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Absolute path to the store root directory (used with \"bridge_url\" parameter)",
                        "in": "query",
                        "name": "store_root",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Shared secret",
                        "in": "query",
                        "name": "shared_secret",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "updated_items": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "account"
                ]
            }
        },
        "/account.failed_webhooks.json": {
            "get": {
                "description": "List webhooks that was not delivered to the callback.",
                "operationId": "AccountFailedWebhooks",
                "parameters": [
                    {
                        "description": "This parameter sets the entity amount that has to be retrieved",
                        "in": "query",
                        "name": "count",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "description": "This parameter sets the number from which you want to get entities",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "description": "List of сomma-separated webhook ids",
                        "in": "query",
                        "name": "ids",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "all_failed_webhook": {
                                                    "type": "string"
                                                },
                                                "webhook": {
                                                    "items": {
                                                        "properties": {
                                                            "entity_id": {
                                                                "type": "string"
                                                            },
                                                            "time": {
                                                                "properties": {
                                                                    "additional_fields": {
                                                                        "type": "object"
                                                                    },
                                                                    "custom_fields": {
                                                                        "type": "object"
                                                                    },
                                                                    "format": {
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "webhook_id": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "tags": [
                    "account"
                ]
            }
        },
        "/attribute.add.json": {
            "post": {
                "description": "Add new attribute",
                "operationId": "AttributeAdd",
                "parameters": [
                    {
                        "description": "Defines attribute's type",
                        "in": "query",
                        "name": "type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "text",
                                "select",
                                "textarea",
                                "date",
                                "price",
                                "multiselect",
                                "boolean"
                            ]
                        }
                    },
                    {
                        "description": "Defines attributes's name",
                        "in": "query",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Store Id",
                        "in": "query",
                        "name": "store_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Language id",
                        "in": "query",
                        "name": "lang_id",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Set visibility status",
                        "in": "query",
                        "name": "visible",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Defines if the option is required",
                        "in": "query",
                        "name": "required",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Attribute`s position",
                        "in": "query",
                        "name": "position",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "description": "Attribute saving scope",
                        "in": "query",
                        "name": "is_global",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Global",
                                "Store",
                                "Website"
                            ],
                            "default": "Store"
                        }
                    },
                    {
                        "description": "Use attribute in Quick Search",
                        "in": "query",
                        "name": "is_searchable",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Use In Layered Navigation",
                        "in": "query",
                        "name": "is_filterable",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Filterable (with results)",
                                "Filterable (no results)",
                                "No"
                            ],
                            "default": "No"
                        }
                    },
                    {
                        "description": "Comparable on Front-end",
                        "in": "query",
                        "name": "is_comparable",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Allow HTML Tags on Frontend",
                        "in": "query",
                        "name": "is_html_allowed_on_front",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Use In Search Results Layered Navigation",
                        "in": "query",
                        "name": "is_filterable_in_search",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Use To Create Configurable Product",
                        "in": "query",
                        "name": "is_configurable",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Use in Advanced Search",
                        "in": "query",
                        "name": "is_visible_in_advanced_search",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Use for Promo Rule Conditions",
                        "in": "query",
                        "name": "is_used_for_promo_rules",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Used in Product Listing",
                        "in": "query",
                        "name": "used_in_product_listing",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Used for Sorting in Product Listing",
                        "in": "query",
                        "name": "used_for_sort_by",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "description": "Types of products which can have this attribute",
                        "in": "query",
                        "name": "apply_to",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "simple",
                                "configurable",
                                "virtual",
                                "bundle",
                                "downloadable",
                                "all_types"
                            ],
                            "default": "all_types"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.assign.group.json": {
            "post": {
                "description": "Assign attribute to the group",
                "operationId": "AttributeAssignGroup",
                "parameters": [
                    {
                        "description": "Entity id",
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Attribute group_id",
                        "in": "query",
                        "name": "group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Attribute set id",
                        "in": "query",
                        "name": "attribute_set_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "assigned": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.assign.set.json": {
            "post": {
                "description": "Assign attribute to the attribute set",
                "operationId": "AttributeAssignSet",
                "parameters": [
                    {
                        "description": "Entity id",
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Attribute group_id",
                        "in": "query",
                        "name": "group_id",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Attribute set id",
                        "in": "query",
                        "name": "attribute_set_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "assigned": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.attributeset.list.json": {
            "get": {
                "description": "Get attribute_set list",
                "operationId": "AttributeAttributesetList",
                "parameters": [
                    {
                        "description": "This parameter sets the number from which you want to get entities",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "description": "This parameter sets the entity amount that has to be retrieved",
                        "in": "query",
                        "name": "count",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to retrieve",
                        "in": "query",
                        "name": "params",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id,name"
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
                        "in": "query",
                        "name": "exclude",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "additional_fields": {
                                                        "type": "object"
                                                    },
                                                    "assigned_attribute_ids": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "attribute_set_id": {
                                                        "type": "string"
                                                    },
                                                    "custom_fields": {
                                                        "type": "object"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "position": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.count.json": {
            "get": {
                "description": "Get attributes count",
                "operationId": "AttributeCount",
                "parameters": [
                    {
                        "description": "Defines attribute's type",
                        "in": "query",
                        "name": "type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "text",
                                "select",
                                "textarea",
                                "date",
                                "price",
                                "multiselect",
                                "boolean"
                            ]
                        }
                    },
                    {
                        "description": "Store Id",
                        "in": "query",
                        "name": "store_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Language id",
                        "in": "query",
                        "name": "lang_id",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Filter items by visibility status",
                        "in": "query",
                        "name": "visible",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Defines if the option is required",
                        "in": "query",
                        "name": "required",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "attributes_count": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.delete.json": {
            "delete": {
                "description": "Delete attribute from store",
                "operationId": "AttributeDelete",
                "parameters": [
                    {
                        "description": "Store Id",
                        "in": "query",
                        "name": "store_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Entity id",
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "deleted": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.group.list.json": {
            "get": {
                "description": "Get attribute group list",
                "operationId": "AttributeGroupList",
                "parameters": [
                    {
                        "description": "This parameter sets the number from which you want to get entities",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "description": "This parameter sets the entity amount that has to be retrieved",
                        "in": "query",
                        "name": "count",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to retrieve",
                        "in": "query",
                        "name": "params",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id,name"
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
                        "in": "query",
                        "name": "exclude",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Attribute set id",
                        "in": "query",
                        "name": "attribute_set_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "additional_fields": {
                                                        "type": "object"
                                                    },
                                                    "assigned_attribute_ids": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "attribute_set_id": {
                                                        "type": "string"
                                                    },
                                                    "custom_fields": {
                                                        "type": "object"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "position": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.info.json": {
            "get": {
                "description": "Get attribute info",
                "operationId": "AttributeInfo",
                "parameters": [
                    {
                        "description": "Entity id",
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Store Id",
                        "in": "query",
                        "name": "store_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Language id",
                        "in": "query",
                        "name": "lang_id",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to retrieve",
                        "in": "query",
                        "name": "params",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "force_all"
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
                        "in": "query",
                        "name": "exclude",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "additional_fields": {
                                                    "type": "object"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "custom_fields": {
                                                    "type": "object"
                                                },
                                                "default_values": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "lang_id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "position": {
                                                    "type": "integer"
                                                },
                                                "required": {
                                                    "type": "boolean"
                                                },
                                                "store_id": {
                                                    "type": "string"
                                                },
                                                "system": {
                                                    "type": "boolean"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "values": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "visible": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.list.json": {
            "get": {
                "description": "Get attributes list",
                "operationId": "AttributeList",
                "parameters": [
                    {
                        "description": "This parameter sets the number from which you want to get entities",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "description": "This parameter sets the entity amount that has to be retrieved",
                        "in": "query",
                        "name": "count",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "description": "Defines attribute's type",
                        "in": "query",
                        "name": "type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "text",
                                "select",
                                "textarea",
                                "date",
                                "price",
                                "multiselect",
                                "boolean"
                            ]
                        }
                    },
                    {
                        "description": "Filter attributes by ids",
                        "in": "query",
                        "name": "attribute_ids",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Store Id",
                        "in": "query",
                        "name": "store_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Retrieves attributes on specified language id",
                        "in": "query",
                        "name": "lang_id",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to retrieve",
                        "in": "query",
                        "name": "params",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id,name"
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
                        "in": "query",
                        "name": "exclude",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter items by visibility status",
                        "in": "query",
                        "name": "visible",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Defines if the option is required",
                        "in": "query",
                        "name": "required",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "True if attribute is system",
                        "in": "query",
                        "name": "system",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "order": {
                                                    "items": {
                                                        "properties": {
                                                            "additional_fields": {
                                                                "type": "object"
                                                            },
                                                            "code": {
                                                                "type": "string"
                                                            },
                                                            "custom_fields": {
                                                                "type": "object"
                                                            },
                                                            "default_values": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "lang_id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "position": {
                                                                "type": "integer"
                                                            },
                                                            "required": {
                                                                "type": "boolean"
                                                            },
                                                            "store_id": {
                                                                "type": "string"
                                                            },
                                                            "system": {
                                                                "type": "boolean"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "values": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "visible": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.type.list.json": {
            "get": {
                "description": "Get list of supported attributes types",
                "operationId": "AttributeTypeList",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "attribute_type": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.unassign.group.json": {
            "post": {
                "description": "Unassign attribute from group",
                "operationId": "AttributeUnassignGroup",
                "parameters": [
                    {
                        "description": "Entity id",
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Customer group_id",
                        "in": "query",
                        "name": "group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "unassigned": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/attribute.unassign.set.json": {
            "post": {
                "description": "Unassign attribute from attribute set",
                "operationId": "AttributeUnassignSet",
                "parameters": [
                    {
                        "description": "Entity id",
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Attribute set id",
                        "in": "query",
                        "name": "attribute_set_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "unassigned": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "attribute"
                ]
            }
        },
        "/basket.item.add.json": {
            "post": {
                "description": "Add item to basket",
                "operationId": "BasketItemAdd",
                "parameters": [
                    {
                        "description": "Retrieves orders specified by customer id",
                        "in": "query",
                        "name": "customer_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Defines id of the product which should be added to the basket",
                        "in": "query",
                        "name": "product_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Defines product's variants specified by variant id",
                        "in": "query",
                        "name": "variant_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Defines new items quantity",
                        "in": "query",
                        "name": "quantity",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "default": 0
                        }
                    },
                    {
                        "description": "Store Id",
                        "in": "query",
                        "name": "store_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "added": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "basket"
                ]
            }
        },
        "/bridge.delete.json": {
            "post": {
                "description": "Delete bridge from the store.",
                "operationId": "BridgeDelete",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "deleted": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "bridge"
                ]
            }
        },
        "/bridge.download.json": {
            "get": {
                "description": "Download bridge for store",
                "operationId": "BridgeDownload",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "cart"
                ]
            }
        },
        "/bridge.update.json": {
            "post": {
                "description": "Update bridge in the store.",
                "operationId": "BridgeUpdate",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "updated": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "bridge"
                ]
            }
        },
        "/cart.bridge.json": {
            "get": {
                "description": "Get bridge key and store key",
                "operationId": "CartBridge",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "bridge": {
                                                    "type": "string"
                                                },
                                                "store_key": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "tags": [
                    "cart"
                ]
            }
        },
        "/cart.clear_cache.json": {
            "post": {
                "description": "Clear cache on store.",
                "operationId": "CartClearCache",
                "parameters": [
                    {
                        "description": "Defines which cache should be cleared.",
                        "in": "query",
                        "name": "cache_type",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "cache_cleared": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "cart"
                ]
            }
        },
        "/cart.config.json": {
            "get": {
                "description": "Get list of cart configs",
                "operationId": "CartConfig",
                "parameters": [
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to retrieve",
                        "in": "query",
                        "name": "params",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "store_name,store_url,db_prefix"
                        }
                    },
                    {
                        "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
                        "in": "query",
                        "name": "exclude",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "db_prefix": {
                                                    "type": "string"
                                                },
                                                "store_name": {
                                                    "type": "string"
                                                },
                                                "store_url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "cart"
                ]
            }
        },
        "/cart.config.update.json": {
            "put": {
                "deprecated": true,
                "description": "Use this API method to update custom data in client database.",
                "operationId": "CartConfigUpdate",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "cart"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "custom_fields": {
                                        "description": "This parameter sets the list of params to the shopping cart.",
                                        "type": "object"
                                    },
                                    "db_tables_prefix": {
                                        "description": "This parameter is deprecated for this method. Please, use this parameter in method account.config.update",
                                        "type": "string"
                                    },
                                    "store_id": {
                                        "description": "Store Id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/cart.coupon.add.json": {
            "post": {
                "description": "Create new coupon",
                "operationId": "CartCouponAdd",
                "parameters": [
                    {
                        "description": "Coupon code",
                        "in": "query",
                        "name": "code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Coupon discount type",
                        "in": "query",
                        "name": "action_type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "percent",
                                "fixed"
                            ]
                        }
                    },
                    {
                        "description": "Defines where discount should be applied",
                        "in": "query",
                        "name": "action_apply_to",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "order_total",
                                "item_price",
                                "shipping"
                            ]
                        }
                    },
                    {
                        "description": "Specify how discount should be applied. If scope=matching_items, then discount will be applied to each of the items that match action conditions. Scope order means that discount will be applied once.",
                        "in": "query",
                        "name": "action_scope",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "order",
                                "matching_items"
                            ]
                        }
                    },
                    {
                        "description": "Defines the discount amount value.",
                        "in": "query",
                        "name": "action_amount",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "description": "Defines when discount code will be available.",
                        "in": "query",
                        "name": "date_start",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "Current date and time"
                        }
                    },
                    {
                        "description": "Defines when discount code will be expired.",
                        "in": "query",
                        "name": "date_end",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Usage limit for coupon.",
                        "in": "query",
                        "name": "usage_limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Usage limit per customer.",
                        "in": "query",
                        "name": "usage_limit_per_customer",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Defines entity for action condition.",
                        "in": "query",
                        "name": "action_condition_entity",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "order",
                                "order_shipping_address",
                                "product",
                                "customer"
                            ]
                        }
                    },
                    {
                        "description": "Defines entity attribute code for action condition.",
                        "in": "query",
                        "name": "action_condition_key",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "product_id",
                                "category_id",
                                "variant_id",
                                "country"
                            ]
                        }
                    },
                    {
                        "description": "Defines condition operator.",
                        "in": "query",
                        "name": "action_condition_operator",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ONE_OF",
                                "=="
                            ]
                        }
                    },
                    {
                        "description": "Defines condition attribute value/s. Can be comma separated string.",
                        "in": "query",
                        "name": "action_condition_value",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "properties": {
                                                "coupon_id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_code": {
                                            "type": "integer"
                                        },
                                        "return_message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "store_key": []
                    }
                ],
                "tags": [
                    "cart"
                ]
            }
        },
        "/cart.coupon.count.json": {
            "get": {
                "description": "Get cart coupons count.",
                "operationId": "CartCouponCount",
                "parameters": [
                    {
                        "description": "Store Id",
                        "in": "query",
                        "name": "store_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter entity by date_start (greater or equal)",
                        "in": "query",
                        "name": "date_start_from",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter entity by date_start (less or equal)",
                        "in": "query",
                        "name": "date_start_to",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter entity by date_end (greater or equal)",
                        "in": "query",
                        "name": "date_end_from",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter entity by date_end (less or equal)",
                        "in": "query",
                        "name": "date_end_to",
                        "required": false,
[...]
